.header-container {
    height: 100vh;
    background-image: url(../../img/parallax1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-attachment: fixed;
    .colorNav {
        color: #777675;
    }
    a {
        text-decoration: none;
        color: #777675;
        i {
            margin-right: 0.2rem;
        }
    }
    
    h1 {
        background-color: black;
        color: white;
        width: 30%;
        margin: auto;
        font-size: 1.4rem;
        padding: 0.8rem 0;
        letter-spacing: 0.6rem;
    }

}
@media screen and (max-width: 1023px){
    .header-container{
        h1 {
            width: 50%;
        }

    }
}